<h1>Sign In</h1>
<div class="create_user;style=text-align:center;">
<%= form_tag('/session', method: :post) do %>

    <strong><%= label_tag(:email, "Email") %></strong>
    <%= text_field_tag(:email) %><br><br>


    <strong><%= label_tag(:password, "Your password:") %></strong>
    <%= password_field_tag(:password, nil) %><br><br>


    <div class="actions">
        <%= submit_tag("Sign In") %>
    </div>


    <p>Don't have an account? <%= link_to "Create one here!", '/signup' %></p>
    
<% end %>

</div>