<%= form_for @user do |f| %>
    <div id='error_explanation'>
    <h2>
        <%= pluralize(@user.errors.count, 'error') %> prohibitied this event form being created:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>

    </div>


    <div class='form-group'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <br>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        <br>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: 'form-control' %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <br>
    </div>

    <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>user.events.builduser.events.build