<% if flash[:notice] %>

        <div class="notice" style="color:red;text-align:center;font-weight:bold;"><%= flash[:notice] %></div><br>

<% end %>
<%= form_for @user do |f| %>

    <div class='form-group'>
        <strong><%= f.label :name %></strong>
        <%= f.text_field :name, class: 'form-control' %>
        <br>
        <strong><%= f.label :email %></strong>
        <%= f.text_field :email, class: 'form-control' %>
        <br>
        <strong><%= f.label :phone_number %></strong>
        <%= f.text_field :phone_number, class: 'form-control' %>
        <br>
        <strong><%= f.label :password %></strong>
        <%= f.password_field :password, class: 'form-control' %>
        <br>

        <div class="actions">
            <%= f.submit class: "btn btn-primary" %>
        </div>
    </div>

    
<% end %>

<p>If you already have an account <%= link_to "Sign in here.", 'signin' %>