<h2>User Page</h2>


<%= link_to 'Create Events', '/events' %> <%= link_to 'Edit User', edit_user_path(@user) %>

    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Phone:</strong> <%= @user.phone_number %></p>

<%= render 'layouts/footer' %>
