<h1>Welcome, <%= @user.name %>!</h1>

<div class='top_links'>
<h2><%= link_to 'Your Events', event_path(@user) %> <%= link_to 'Create Event', events_new_path %> <%= link_to 'Edit User', edit_user_path(@user) %></h2>
</div>

<div>

    <div class='user_info'>
        <p><strong>Name:</strong> <%= @user.name %></p>
        <p><strong>Email:</strong> <%= @user.email %></p>
        <p><strong>Phone:</strong> <%= @user.phone_number %></p>
    </div>
</div>

<%= render 'layouts/footer' %>


<%= link_to "DELETE ACCOUNT", @user, method: 'delete' %>