<h2>Event: <%= @event.title %></h2>

<h2>Start Date and Time: <%= @event.start %></h2>

<h2>end date and Time: <%= @event.finish %></h2>

<h2>
    <%= @event.requirements.each do |reqs| %>
        Field: <%= reqs.field %>
        <br>
        Goal size: <%= reqs.goals %>
        <br>
        # of Food Trucks: <%= reqs.food_truck %>
        <br>
        Suggested Trucks: <%= reqs.other %>
        <br>
    <% end %>
</h2>

<a href="/events/edit">Edit Event</a>


