<h1> Your Scheduled Events </h1>

<table class='table'>
    <div class='headers'>
        <tr>
            <td><strong>Title</strong></td>
            <td><strong>Start Time</strong></td>
            <td><strong>End Time</strong></td>
            <td><strong>Field Number</strong></td>
            <td><strong>Goals</strong></td>
            <td><strong>Number of Food Trucks</strong></td>
            <td><strong></strong></td>
        </tr>
    </div>
    
    <%= @events.each do |event| %>
        <tr>
            <td><strong><%= link_to "#{event.title}", edit_event_path(event.id) %></strong></td>
            <td><%= event.start.strftime("%m/%d/%Y at %I:%M%p") %></td>
            <td><%= event.finish.strftime("until %m/%d/%Y at %I:%M%p") %></td>
            <td><%= Field.find_by(id: event.id).name %></td>
            <td><%= Requirement.find_by(id: event.id).goals %></td>
            <td><%= Requirement.find_by(id: event.id).food_truck %></td>
        </tr>
    <% end %>
</table><br>

<%= link_to "User Page", user_path(current_user.id) %>

<a href="/events/new">New Event</a>